[Desktop Entry]
Type=Application
Name=Read-O-Matic
Comment=An EPUB reader for The Lunduke Computer Operating System
Exec=readomatic
Icon=readomatic
Terminal=false
Hidden=false
Categories=GTK;Office;Viewer;Literature;
MimeType=application/epub+zip;
StartupWMClass=readomatic
StartupNotify=true
